html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-image: url('https://d33wubrfki0l68.cloudfront.net/2c321a7b7549cb89ac41774281fdb46e25cdde0f/44d93/art/013_constructive/constructive323_hu2065611a230055f56b52499e46502cda_1790476_500x500_fill_q75_box_center.jpg');
  background-image: url('https://cdn.wallpapersafari.com/9/10/mabxzv.jpg');
}


h1{
  color: white
}

h3{
  color: pink

}

.center {
  border: 5px solid;
  border-color: #9579d1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.bn{
  background-color: #9579d1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Cambria,Georgia,serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bn1:hover,
.bn1:focus {
  background-color: #F082AC;
}
